ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #FFFFFF;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
}

li {
  float: right;
  font-family: Montserrat;
  font-style: normal;
  line-height: 14px;
  font-weight: 500;
  font-size: 14px;
}

.flowrSpotLi {
  float: left;
  font-weight: bold;
  font-size: 20px;
  color: #EAA79E
}

a {
  display: block;
  color: #949EA0;
  padding: 14px 16px;
  text-decoration: none;
}

.flowrspotText {
  color: #EAA79E;
}

.login {
  color: #EAA79E;
}

.account {
  color: #ffffff;
  background: linear-gradient(270deg, #ECBCB3 0%, #EAA79E 100%);
  box-shadow: 0px 15px 20px rgba(234, 168, 159, 0.2);
  border-radius: 50px;
}
